body{
    font-family: 'Roboto', sans-serif;
}

.main{
    position: relative;
    margin: 0 auto;
    width: 70%;
    height: auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.7);
}

.nav{
    width: 100%;
    height: 145px;
    border-bottom: 2px solid #000000;
    background: #c9c9c9;
}

.product-list{
    position: relative;
    height: auto;
    margin: 10px 15px;
    justify-content: center;
    overflow: auto;
}

.product{
    width: 20%;
    height: 150px;
    margin: 21px;
    border: 2px solid #000000;
    float: left;
}

.delete-checkbox{
    margin-left: 10px;
    margin-top: 10px;
}

.sku, .name, .price, .attribute{
    text-align: center;
    margin: 5px;
}

.title{
    margin-left: 50px;
}

.title-text{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #000000;
}

.ptext{
    margin-left: 25px;
    margin-right: 50px;
}

.descript{
    margin-left:40px;
    font-style:italic;
    color:#c00000;
}

.inputs{
    margin-left: 25px;
}

.buttons{
    margin-left: 50%;
}

button{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}

.footer{
    border-top: 2px solid #000000;
    font-size: 18px;
    text-align: center;
    line-height: 100px;
    color: #000000;
}